<div class="widget-text widget">
	<h4 class=widget__title>Interesting links</h4>
	<div class=widget__content>
		<!-- TODO: declare interesting links in config.toml and build
		           all the different links by iterating.
		<-->

		<ul>
			<li>- The Astrobook: <a class="interesting_link" href="https://astrobook.github.io/">https://astrobook.github.io/</a></li> 
			<li>- SciPython: <a class="interesting_link" href="https://scipython.com/blog/">/https://scipython.com/blog</a></li> 
			<li>- Pybonacci: <a class="interesting_link" href="https://pybonacci.org/">https://pybonacci.org/</a></li> 
			<li>- Mathspp: <a class="interesting_link" href="https://mathspp.com/">/https://mathspp.com</a></li> 
			<li>- Fabien Sanglard's: <a class="interesting_link" href="https://fabiensanglard.net/">https://fabiensanglard.net/</a></li> 
			<li>- De máquinas e intenciones: <a class="interesting_link" href="https://demaquinaseintenciones.wordpress.com/">https://demaquinaseintenciones.wordpress.com/</a></li> 
		</ul>
	</div>
</div>

